body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.5)20%,rgba(0,0,0,0.5)20%), url(1.jpg);
  background-position: center;
  background-size: cover;
  height: 200vh;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-container {
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: popUp 2s ease infinite; /* Add pop-up animation with infinite iteration */
}

@keyframes popUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

h2 {
  font-size: 24px;
  color: #fff;
  margin-top: 10px;
}

img {
  width: 300px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}
